<h2>Software used in LIS4368</h2>

<p>
    This course requires that you make use of certain software in order
    to accomplish your work.  All software is Open Source (ie free of charge),
    and can be installed on Mac or Windows.
</p>

<div class='well'>
    <h4>WAMP or MAMP</h4>
    <p>
        <i class='icon-windows'></i> <a href='http://www.wampserver.com/en/' title='WAMP Homepage'>http://www.wampserver.com/en/</a>
        <em>or</em>
        <i class='icon-apple'></i> <a href='http://www.mamp.info/en/index.html' title='MAMP Homepage'>http://www.mamp.info/en/index.html</a>    
    </p>
    <p>
        This is your local webserver.  For detailed installation instructions,
        refer to the <a href='{{ site_url }}/resources/wamp-mamp' title='WAMP MAMP Page'>WAMP &amp; MAMP instruction page</a>.
    </p>
</div>

<div class='well'>
    <h4>GIT</h4>
    <p><i class='icon-code-fork'></i> <a href='http://git-scm.com/' title='GIT Homepage'>http://git-scm.com/</a></p>

    <p>
        GIT is the <abbr title='aka Version Control System'>Source Control Management</abbr> System that we
        will use in this course.
    </p>
</div>

<div class='well'>
    <h4>Netbeans IDE</h4>
    <p><i class='icon-edit'></i> <a href='http://netbeans.org/downloads' title='Netbeans Homepage'>http://netbeans.org/downloads</a></p>

    <p>
        Netbeans is the Integrated Development Environment / Text Editor we will use to write and test
        our code.
    </p>
</div>

<div class='well'>
    <h4>A Web Browser with Developer Tools</h4>
    <p><i class='icon-globe'></i> <a href='http://chrome.com' title='Google Chrome Download'>http://chrome.com</a></p>

    <p>
        I will use Google Chrome, which has exceptional developer tools built-in (hit <kbd>F12</kbd> to enable them for a page).  However,
        <a href='http://getfirefox.com' title='Firefox Homepage'>Firefox</a>, <a href='http://apple.com/safari' title='Apple Safari'>Safari</a>,
        or <a href='http://opera.com' title='Opera Browser Homeage'>Opera</a> are also fine choices.
    </p>
</div>