<p>
    A high-fidelity mockup is an <em>almost</em>-functional HTML and CSS preview of the interfaces in your
    website.  You will need to write very little PHP code for this assignment, and I recommend that you
    focus your efforts on designing the intrfaces the way you would like them to look.
</p>

<p>
    In a high-fidelity mockup, the buttons, form fields, and other interactive UI components need to be present,
    but do not yet need to work or do anything.  This is a way of showing what your application will look like
    and giving a rough preview of functionality, not actually coding the project.
</p>

<p>
    Your submission must include UI mockups for each interface/page in your site.  You must also include an <em>index.php</em>
    file that lists each interface mockup page and provides a link to it.
</p>

<h4>A few Tools that may Help</h4>

<p>
    Since this is not a front-end design class, I encourage you to make use of resources that are already
    available out on the Internet:
</p>

<ul>
    <li>
        CSS Frameworks
        <ul>
            <li><a href='http://getbootstrap.com/'>Bootstrap</a> - Includes base HTML and CSS, buttons, forms, and many UI componenents</li>
            <li><a href='http://foundation.zurb.com/'>ZURB Foundation</a> - Bootstrap alternative; also contains forms, buttons, etc</li>
            <li><a href='http://ink.sapo.pt/'>Ink</a> - Yet another HTML and CSS framework containing forms, buttons, etc.</li>
        </ul>
    </li>

    <li>
        Application Themes
        <ul>
            <li><a href='http://themeforest.net/'>Theme Forest</a> - Mostly paid (but cheap) HTML/CSS themes for webapps</li>
        </ul>
    </li>

    <li>
        Inspiration
        <ul>
            <li><a href='http://dribbble.com'>dribbble</a> - A showcase of UX/UI and art for people's web applications</li>
        </ul>
    </li>    
</ul>

<h4>Technical Requirements</h4>

<p>
    Although you can (and should) create your high-fidelity mockups without the use
    of any PHP code, I must artificially require you to add some code to your submission.  This is
    so that I can evaluate your understanding of concepts we've covered during lecture.
</p>

<p>
    Therefore, you are required to make use of the following items somewhere in your mockup:
</p>

<ul>
    <li>A loop - Use a <em>for</em>, <em>foreach</em>, <em>while</em>, or <em>do&hellip;while</em> loop</li>
    <li>A multidimensional array - At least two dimensions of data are required</li>
    <li>A function - At least one custom function that you write.  Use as many built-in functions as you like</li>
</ul>

<p>
    It does not matter how you choose to implement the function, loop, and array, or even if the
    implementation makes much sense technically.  They must be present, and they must contribute to the
    output of the page in a meaningful way.
</p>

<p>
    One example of way to achieve this is to find an item in your mockups that consitute a list.  Create
    an array to hold the list items, and create a function with a loop in it to output the list.
</p>