<h2>How to Submit Assignments</h2>

<p>
    With the exception of Assignment 1, you will submit all of your assignments for this course
    using the following parameters.  This includes the final project.
</p>

<p>
    Your assignments consist of two deliverables:
</p>

<ul>
    <li><strong>Your Source Code</strong> - Uploaded to an online repository where the instructor can see the code</li>
    <li><strong>A running copy of your App</strong> - Uploaded to <a href='https://ispace-2013.cci.fsu.edu/' title='iSpace'>iSpace</a> or your own personal hosting provider</li>
</ul>

<br />

<h4>How to Push Your Source Code</h4>

<p>
    We use <a href='http://bitbucket.org' title='Bitbucket'>Bitbucket</a> to share code in this course.  However,
    you are allowed to use <a href='http://github.com' title='Github'>Github</a> as an alternative, provided you
    ensure the following that your repository is private, shared between only your instructor and yourself.
</p>

<p>
    For details about how to push your code to Bitbucket from Netbeans, refer to the <a href='{{ site_url }}/resources/netbeans-projects' title='Netbeans Resources'>
    instructions on the Netbeans Project Management Page</a>
</p>

<h5>How to give the instructor access to your repository</h5>

<ol>
    <li>Login to Bitbucket and browse to your repository page</li>
    <li>Click the gear icon (<i class='icon-cog'></i>) near the upper-right hand corner to access settings</li>
    <li>In the left menu, choose "Access Management"</li>
    <li>Under the "Users" heading, add <strong>fsulis4368</strong>, and set the privileges for that account to <strong>Read</strong> only</li>
</ol>

<h5>How to ensure your repository is private</h5>

<ol>
    <li>Login to Bitbucket and browse to your repository page</li>
    <li>Click the gear icon (<i class='icon-cog'></i>) near the upper-right hand corner to access settings</li>
    <li>In the left menu, choose "Repository Details"</li>    
    <li>Ensure the box is checked next to <strong>This is a Private Repository</strong></li>
    <li>Click <em>Save repository details</em></li>
</ol>

<br />

<h4>How to Publish Your App</h4>

<p>
    You will publish your application to <a href='https://ispace-2013.cci.fsu.edu/' title='iSpace'>iSpace</a>,
    or any hosting that you like.  Your instructor does not care what URL your application is accessed at, so long
    as it is avaiable at the time of grading.
</p>