<h2>Managing a Project in Netbeans</h2>

<ul class='nav'>
    <li><a href='#'></a></li>
    <li><a href='#'></a></li>
    <li><a href='#'></a></li>
    <li><a href='#'></a></li>
</ul>

<hr />

<h3>Setting up a new Project in Netbeans</h3>

<p>This describes how to setup a new project in Netbeans from scratch.</p>

<ol>
    <li>
        Ensure you have downloaded and installed Netbeans 7.3 or newer from
        <a href='http://netbeans.org/download' target='_new' title='Download Netbeans'>netbeans.org/download</a>
</ol>