{% extends 'page.html.twig' %}

{% block content %}

        <div class='col-lg-6'>

            <p>Navigation Here</p>

        </div>
        <div class='col-lg-6'>

            <p>Module Information Here</p>

        </div>

{% endblock %}