{% extends 'page.html.twig' %}
{% block content %}

{#
    <div class='col-lg-6'>
        <h3>What's New</h3>
        <p>Navigation Here</p>
    </div>
    <div class='col-lg-6'>
        <h3>Current Module</h3>
        <p>Module Information Here</p>
    </div>
#}

<div class='col-lg-8'>
    <h2>Welcome</h2>
    <p class='lead'>
        <strong><em>Hello</em></strong>, and welcome to LIS4368, <em> Advanced Web
        Development with PHP</em> for the Fall, 2013 Semester.
    </p>

    <p class='lead'>
        My name is Casey McLaughlin, and I'll be your instructor for this course.  I am
        still putting the finishing touches on this website; adding assignments and resources, and
        finishing the assignment due dates.  
    </p>

    <p class='lead'>
        In the meantime, please review the course syllabus and calendar, and be sure to attend
        on the first day of class.
    </p>
</div>
<div class='col-lg-4'>
    <h2>Quick Links:</h2>
    <p>
        <a style='font-size: 1.3em;' href='{{ site_url }}/assignments' title='Go to assignment list' class='btn btn-primary btn-block'>
            <i class='icon-edit'></i> 
            Assignments
            <i class='icon-arrow-right'></i>
        </a>
    </p>

    <p>
        <a style='font-size: 1.3em;' href='{{ site_url }}/calendar' title='Go to syllabus' class='btn btn-primary btn-block'>
            <i class='icon-calendar'></i> 
            Course Calendar
            <i class='icon-arrow-right'></i>
        </a>
    </p>    
</div>

{% endblock %}