{% extends 'page.html.twig' %}
{% block content %}
    <div class='col-lg-12'>
        <h2>No Resources Yet :)</h2>
        <p class='lead'>Resources will be posted by Aug 28, 2013</p>
    </div>
{% endblock %}