{% extends 'page.html.twig' %}
{% block content %}
    <div class='col-lg-12'>
        <h2>Resources</h2>

        <ul class='nav nav-list'>
            <li><a href='{{ site_url }}/resources/submit-assignments' title='Netbeans Projects'>How to Submit Assignments</a></li>
            <li><a href='{{ site_url }}/resources/required-software' title='Required Software'>Software We Use in this Course</a></li>
            <li><a href='{{ site_url }}/resources/wamp-mamp' title='Setting up WAMP or MAMP'>Setting up WAMP or MAMP</a></li>
            <li><a href='{{ site_url }}/resources/netbeans-projects' title='Netbeans Projects'>Netbeans Projects Step-By-Step</a></li>
        </ul>

    </div>
{% endblock %}