{% extends 'page.html.twig' %}
{% block content %}
<div class='syllabus'>

    <div class='row'>
        <div class='col-lg-12'>
            <h1>Syllabus</h1>
            <h2>LIS4368 - Web Development with PHP</h2>
        </div>
    </div>

    {# ROW #}
    <div class='row'>
        <div class='col-lg-6 syllabus-img'>
            <img src='{{ base_url }}/assets/img/syllabus-elephant.jpg' alt='ElePHPant' />
        </div>
        <div class='col-lg-6'>
            <p class='lead'>
                <strong><em>Greetings</em></strong>, and welcome to the Fall, 2013
                Semester of Web Development with PHP.  We will cover many topics
                related to both PHP and general website development.
            </p>

            <p class='bigger'>
                We will start by covering fundamentals of PHP programming and work our
                way to developing simple dynamic web applications.  For some of you,
                this course will serve as a jumping off point to a career in
                professional web development.  For others, it will serve as a valuable
                career supplement, providing you with a foundation in web development
                principles.  My hope is that, no matter what your IT aspirations are,
                this course will be valuable for you.
            </p>        
        </div>
    </div>

    {# ROW #}
    <div class='row'>
        <div class='col-lg-6'>
            <h3>Prerequisites</h3>
            <p class='bigger'>
                At the beginning of this course, I expect you to be proficient in
                a few areas.  They are important for learning the material, and
                will aid you in successfully completing the objectives.
            </p>

            <h4>Courses</h4>

            <ul>
                <li>CGS3406 – Object-oriented Programming in C++, or</li>
                <li>COP2258 – Problem Solving with Object Oriented Programming, or</li>
                <li>CGS2835 – Interdisciplinary Web Development</li>
            </ul>

            <h4>KSA's</h4>
            <ul>
                <li>Knowledge of object-oriented programming principles.  You must have had at least one OO programming class prior to enrolling in this course.</li>
                <li>Ability to create valid HTML web pages and basic understanding of HTML and CSS.</li>
                <li>Skill in operating personal computers and productivity software such as word processing and presentation software.</li>
                <li>Ability to use the command-line on Mac, Windows, and Linux.</li>
                <li>Ability to use SFTP or other file transfer mechanisms to publish content on the Internet.  (Tutorials for doing this using iSpace are at http://ispace.ci.fsu.edu)</li>
                <li>Ability to plan, organize, and coordinate multiple assignments, follow instructions accurately, and meet deadlines.</li>
                <li>Ability to work independently and collaboratively on projects, and sufficient time to work on assignments outside of class.</li>
                <li>Ability to communicate effectively in English.</li>
            </ul>
        </div>
        <div class='col-lg-6 syllabus-img'>
            IMG
        </div>
    </div>

    {# ROW #}
    <div class='row'>
        <div class='col-lg-6 syllabus-img'>
            IMG
        </div>

        <div class='col-lg-6'>
            <h3>Course Objectives</h3>
            <p class='bigger'>By the completion of this course, students will understand:</p>

            <ul>
                <li>Basic programming skills in PHP</li>
                <li>Web application development principles</li>
                <li>How to find and use web application development resources on the Internet</li>
            </ul>

            <p class='bigger'>By the completion of this course, students will be able to:</p>

            <ul>
                <li>Program and deploy simple scripts in PHP</li>
                <li>Process web-based input and output in PHP</li>
                <li>Build multi-file PHP applications</li>
                <li>Connect PHP applications to a database</li>
                <li>Design a simple dynamic website using PHP, MySQL, HTML, and MVC</li>
            </ul>
        </div>
    </div>

    {# ROW #}
    <div class='row'>
        <div class='col-lg-6'>
            <h3>Course Resources</h3>
            <h4>Website</h4>
            <p class='bigger'>
                A course website is available at
                http://lis4368.cci.fsu.edu.  You can also access the course
                website via Blackboard (http://campus.fsu.edu).  We will
                collaborate via the lis4368.cci.fsu.edu website, and you will
                submit assignments via the Blackboard website.
            </p>

            <h4>Textbook</h4>

            <p>
                There are no required textbooks for this course.  You will be
                using a myriad of resources available on the Web.
            </p>

            <h4>Technology</h4>

            <p>
                Students taking this class must have access to a personal
                computer and be able to install software on that computer.
                Students will need to use specialized software packages in
                order to complete assignments.  All required software is open
                source (free).  Refer to the Development Environment page on
                the Course Website for details.
            </p>
            <p>
                The College of Communication and Information provides a
                computer lab in Room 106E Shores Building for use when
                students do not have access to a computer.
            </p>

        </div>

        <div class='col-lg-6 syllabus-img'>
            IMG
        </div>
    </div>

    {# ROW #}
    <div class='row'>
        <div class='col-lg-6'>
            <table class='table grading-table'>
                <thead>
                    <tr>
                        <th>Scale</th>
                        <th>Letter</th>
                        <th>Meaning</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>90-100</td>
                        <td>A</td>
                        <td>Work far exceeds the standards for the course</td>
                    </tr>
                    <tr>
                        <td>80-89</td>
                        <td>B</td>
                        <td>Work exceeds the standards for the course</td>
                    </tr>                    
                    <tr>
                        <td>70-79</td>
                        <td>C</td>
                        <td>Work meets the standard for the course</td>
                    </tr>                    
                    <tr>
                        <td>60-69</td>
                        <td>D</td>
                        <td>Work falls below the standards for the course</td>
                    </tr>                    
                    <tr>
                        <td>0-59</td>
                        <td>F</td>
                        <td>Work was not completed or does not meet the standards for the course at all</td>
                    </tr>                    
                </tbody>
            </table>
        </div>

        <div class='col-lg-6'>
            <h3>Grading</h3>
            <p class='bigger'>Breakdown:</p>

            <ul>
                <li><strong>40%</strong> &mdash; 1 Project</li>
                <li><strong>50%</strong> &mdash; 10 Exercises <em>(5pts each)</em></li>
                <li><strong>10%</strong> &mdash; In-Class Exercises and Lecture</li>
            </ul>

            <h4>Policies</h4>

            <ul>
                <li>
                    I will not increase a grade for any assignment, lab, or test
                    unless you present me with unambiguous evidence proving that
                    there was a mistake in the instructions/question or in the
                    grading process.  You may only request a grade change outside
                    of class.
                </li>
                <li>
                    I do not grade on a curve, but I will evaluate grading issues
                    on a case-by-case basis if the majority of the class (80% or
                    more) is not able to successfully complete an assignment or
                    answer a question on a test correctly.  If I choose to
                    retroactively change the score for a question or assignment, I
                    will do so for the entire class and inform students of the
                    reason.
                </li>
            </ul>
        </div>
    </div>    


</div>
{% endblock %}