{% extends 'page.html.twig' %}
{% block content %}
<div class='syllabus'>

    <div class='row'>
        <div class='col-sm-12'>
            <h1>Syllabus</h1>
            <h2>LIS4368 - Web Development with PHP</h2>
        </div>
    </div>

    {# ROW #}
    <div class='row'>
        <div class='col-sm-6 syllabus-img'>
            <img src='{{ base_url }}/assets/img/syllabus-elephant.jpg' alt='ElePHPant' />
        </div>
        <div class='col-sm-6'>
            <p class='lead'>
                <strong><em>Greetings</em></strong>, and welcome to the Fall, 2013
                Semester of Web Development with PHP.  We will cover many topics
                related to both PHP and general website development.
            </p>

            <p class='bigger'>
                We will start by covering fundamentals of PHP programming and work our
                way to developing simple dynamic web applications.  For some of you,
                this course will serve as a jumping off point to a career in
                professional web development.  For others, it will serve as a valuable
                career supplement, providing you with a foundation in web development
                principles.  My hope is that, no matter what your IT aspirations are,
                this course will be valuable for you.
            </p>        
        </div>
    </div>

    {# ROW #}
    <div class='row'>
        <div class='col-sm-6'>
            <h3>Prerequisites</h3>

            <h4>Courses</h4>

            <ul>
                <li><strong>CGS3406</strong> &mdash; Object-oriented Programming in C++, <em>or</em></li>
                <li><strong>COP2258</strong> &mdash; Problem Solving with Object Oriented Programming, <em>or</em></li>
                <li><strong>CGS2835</strong> &mdash; Interdisciplinary Web Development</li>
            </ul>

            <h4>KSA's</h4>
            <ul>
                <li>Knowledge of <strong>object-oriented programming</strong> principles.  You must have had at least one OO programming class prior to enrolling in this course.</li>
                <li>Ability to create valid HTML web pages and basic understanding of <strong>HTML and CSS</strong>.</li>
                <li>Skill in operating personal computers and <strong>productivity software</strong> such as word processing and presentation software.</li>
                <li>Ability to use the <strong>command-line</strong> on Mac, Windows, and Linux.</li>
                <li>Ability to use <strong>SFTP</strong> or other file transfer mechanisms to publish content on the Internet.  (Tutorials for doing this using iSpace are at http://ispace.ci.fsu.edu)</li>
                <li>Ability to plan, organize, and coordinate multiple assignments, follow instructions accurately, and <strong>meet deadlines</strong>.</li>
                <li>Ability to work independently and collaboratively on projects, and sufficient time to work on assignments <strong>outside of class</strong>.</li>
                <li>Ability to <strong>communicate effectively</strong> in English.</li>
            </ul>
        </div>
        <div class='col-sm-6 syllabus-img'>
            <img src='{{ base_url }}/assets/img/syllabus-excited.jpg' alt='Get Excited and Make Things' />
        </div>
    </div>

    {# ROW #}
    <div class='row'>
        <div class='col-sm-6 syllabus-img'>
            <img src='{{ base_url }}/assets/img/syllabus-sauce.jpg' alt='It Really Does' />
        </div>

        <div class='col-sm-6'>
            <h3>Course Objectives</h3>
            <p class='bigger'>By the completion of this course, students will understand:</p>

            <ul>
                <li>Basic programming skills in PHP</li>
                <li>Web application development principles</li>
                <li>How to find and use web application development resources on the Internet</li>
            </ul>

            <p class='bigger'>By the completion of this course, students will be able to:</p>

            <ul>
                <li>Program and deploy simple scripts in PHP</li>
                <li>Process web-based input and output in PHP</li>
                <li>Build multi-file PHP applications</li>
                <li>Connect PHP applications to a database</li>
                <li>Design a simple dynamic website using PHP, MySQL, HTML, and MVC</li>
            </ul>
        </div>
    </div>

    {# ROW #}
    <div class='row'>
        <div class='col-sm-6'>
            <h3>Course Resources</h3>
            <h4>Website</h4>
            <p>
                A course website is available at
                <a href='http://lis4368.cci.fsu.edu' title='LIS4368 Website'>http://lis4368.cci.fsu.edu</a>.  You can also access the course
                website via Blackboard (http://campus.fsu.edu).  We will
                collaborate via the lis4368.cci.fsu.edu website, and you will
                submit assignments via the Blackboard website.
            </p>

            <h4>Textbook</h4>

            <p>
                There are no required textbooks for this course.  You will be
                using a myriad of resources available on the Web.
            </p>

            <h4>Personal Computer and Software</h4>

            <p>
                Students taking this class <strong>must have access to a personal
                computer</strong> and be able to install software on that computer.
                Students will need to use specialized software packages in
                order to complete assignments.  All required software is open
                source (free).  Refer to the Development Environment page on
                the Course Website for details.
            </p>
            <p>
                The College of Communication and Information provides a
                computer lab in Room 106E Shores Building for use when
                students do not have access to a computer.
            </p>

        </div>

        <div class='col-sm-6 syllabus-img'>
            <img src='{{ base_url }}/assets/img/syllabus-code.png' alt='A simple program' />
        </div>
    </div>

    {# ROW #}
    <div class='row'>
        <div class='col-sm-6'>
            <table class='table grading-table'>
                <thead>
                    <tr>
                        <th>Scale</th>
                        <th>Letter</th>
                        <th>Meaning</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>90-100</td>
                        <td>A</td>
                        <td>Work far exceeds the standards for the course</td>
                    </tr>
                    <tr>
                        <td>80-89</td>
                        <td>B</td>
                        <td>Work exceeds the standards for the course</td>
                    </tr>                    
                    <tr>
                        <td>70-79</td>
                        <td>C</td>
                        <td>Work meets the standard for the course</td>
                    </tr>                    
                    <tr>
                        <td>60-69</td>
                        <td>D</td>
                        <td>Work falls below the standards for the course</td>
                    </tr>                    
                    <tr>
                        <td>0-59</td>
                        <td>F</td>
                        <td>Work was not completed or does not meet the standards for the course at all</td>
                    </tr>                    
                </tbody>
            </table>
        </div>

        <div class='col-sm-6'>
            <h3>Grading</h3>
            <p class='bigger'>Breakdown:</p>

            <ul>
                <li><strong>40%</strong> &mdash; 1 Project</li>
                <li><strong>50%</strong> &mdash; 10 Exercises <em>(5pts each)</em></li>
                <li><strong>10%</strong> &mdash; In-Class Exercises and Lecture</li>
            </ul>

            <h4>Grade Change Policies</h4>

            <ul>
                <li>
                    I will not increase a grade for any assignment, lab, or test
                    unless you present me with unambiguous evidence proving that
                    there was a mistake in the instructions/question or in the
                    grading process.  You may only request a grade change outside
                    of class.
                </li>
                <li>
                    I do not grade on a curve, but I will evaluate grading issues
                    on a case-by-case basis if the majority of the class (80% or
                    more) is not able to successfully complete an assignment or
                    answer a question on a test correctly.  If I choose to
                    retroactively change the score for a question or assignment, I
                    will do so for the entire class and inform students of the
                    reason.
                </li>
            </ul>
        </div>
    </div>    

    {# ROW #}
    <div class='row'>
        <div class='col-sm-6'>
            <h3>Attendance Policy</h3>

            <ul>
                <li>
                    Attendance is mandatory on the first day of class, per 
                    <a href='http://registrar.fsu.edu/bulletin/undergrad/info/acad_regs.htm' title='Here is the Policy'>FSU policy</a>.
                </li>

                <li>
                    Attendance is mandatory at all in-class activities in
                    order to receive full credit.  There is no make-up for
                    activities.  Refer to the course calendar for activity
                    session dates.
                </li>

                <li>
                    There is no formal attendance policy for lecture sessions,
                    but I will take attendance at all course meetings.  Lecture is
                    <strong>the salient component</strong> in this course.  Miss
                    class at your own discretion.
                </li>
            </ul>
        </div>

        <div class='col-sm-6'>
            <h3>Assignment Submission Policy</h3>

            <ul>
                <li>
                    I will be assigning several exercises that you are to
                    complete and submit by the following week via the Blackboard
                    Course Website.  We will discuss homework assignments during
                    lecture sessions. They are due by midnight on the following
                    Tuesday.
                </li>

                <li>
                    You must contact me personally to turn in a late
                    assignment.  I will deduct 10% of the assignment’s value
                    for each day the assignment is late.  I will not accept
                    assignments more than 5 days late.  Thus, it is important
                    for you to manage your time in such a way as to ensure
                    that you complete assignments on time.
                </li>

                <li>
                    I will not assign any homework other than that which is
                    already listed in the course calendar without notifying
                    students ahead of time.
                </li>

                <li>
                    It is your responsibility to read the submission
                    instructions, located on the course website, for all
                    homework assignments.  You must comply with all of the
                    requirements listed in the submission instructions.
                </li>

                <li>
                    Technical issues or computer errors are not acceptable
                    excuses for late or missing assignment submissions. The
                    College provides computer labs to students who need them.
                </li>
                
                <li>
                    You should plan to work outside of class for three to nine
                    hours a week at the start of the semester, and six to
                    twelve hours per week at the end of the semester.
                </li>
            </ul>            
        </div>
    </div>

{% endblock %}