/* Main CSS for LIS4368.cci.fsu.edu */

.underlined {
    border-bottom: 1px solid #ddd;
}

.bigger {
    font-size: 1.2em;
}

/* ------ */

.navbar-fixed-top .title-actual {
    color: #eee;
}

@media (min-width: 768px) and (max-width: 990px) {
    .navbar-fixed-top .title-php,
    .navbar-fixed-top .title-name {
        display: none;
    }
}


@media (min-width: 992px) {
    .navbar-fixed-top #main-navigation {
        float: right;
    }
}

@media (max-width: 437px) {
    .navbar-fixed-top .title-php,
    .navbar-fixed-top .title-name {
        display: none;
    }
}
/* ------ */

#main-content {
    position: relative;
    margin-top: 50px;
    padding: 0 20px;
}

@media print {
    #main-content {
        margin-top: 0;
        padding: 0;
    }
}

/* ------ */

#main-footer .container {
    margin-top: 70px;
    padding: 15px 0;
    border-top: 1px solid #eee;
}

#main-footer .media {
    margin-bottom: 20px;
}

#main-footer .media h3 {
    margin-top: 0;
    margin-bottom: 4px;
}

#main-footer .media p {
    margin-bottom: 0;
}

#main-footer .media.instructor-info img {
    border: 1px solid #fff;
    border-radius: 50%;
}

/* ------ */

.syllabus div[class^="col-lg-"], 
.syllabus div[class*=" col-lg-"] {
    margin-bottom: 40px;
}

.syllabus .syllabus-img {
    text-align: center;
}

.syllabus .syllabus-img img {
    max-width: 80%;
    max-height: 80%;
    margin: auto 0;
}

@media print {
    .syllabus .syllabus-img {
        display: none;
    }
}

.grading-table {
    margin: 25px auto;
    width: 80%;
}

/* ------ */

.module-dates > span {
    display: block;
}

.module-dates .wknum {
    font-weight: bold;
}

.module-dates > span.module-thru {
    font-style: italic;
    padding: 4px 0;
    font-size: 0.9em;
}

.lecture .lecture-date,
.lecture .lecture-title {
    display: block;
}

.lecture .lecture-title {
    font-weight: bold;
}