<p>
    Your final project is worth <strong>40%</strong> of your grade.
</p>

<p>
    The project can be your own design, but must by the end of the
    semester conform to the following technical specifications:
</p>

<ul>
    <li>Uses object-oriented coding standards</li>
    <li>Stores and retrieves data in a database</li>
    <li>Utilizes sessions and an authentication layer</li>
    <li>Implements the MVC design pattern</li>
</ul>

<h4>The Beginning: Your Proposal</h4>

<p>
    The first step is to formulate a project plan.
</p>

<h4>Iterative Improvement</h4>

<p>
    Throughout the semseter, you will refactor and incorporate
    new functionality in your code. You will submit these throughout
    the semester as your assignments.
</p>

<p>
    Below is the schedule of assignment submissions:
</p>

{# insert assignments here #}

<h4>Submitting the Final Project</h4>

{# insert instructions here #}